@charset "utf-8";
/* CSS Document */

body {
    padding: 0;
    margin: 0
}
.header {
    width: 100%;
    height: 900px
}
.header img {
    width: 100%
}
.head {
    width: 100%;
    height: 50px;
    background: #ECECEC;
    margin-top: -20px
}
.head ul .add101 span img {
    width: 25px;
    height: 25px;
    position: relative;
    top: 5px;
    left: -35px
}
.head ul li {
    width: 7%;
    float: left;
    line-height: 28px;
    text-align: center;
    list-style: none;
    text-decoration: none;
    line-height: 50px
}
.head ul li a {
    color: #000;
    text-decoration: none;
    font-size: 14px
}
.left {
    width: 11%;
    height: 790px
}
.left ul li {
    height: 28px;
    list-style: none;
    line-height: 28px;
    text-align: center;
    margin-top: 15px
}
.left ul li a {
    width: 100%;
    color: #000;
    text-decoration: none;
    display: block
}
.left ul .add101 {
    background: #F3F3F3;
    margin-top: -17px
}
.left ul .add102 {
    background: #41AEE1
}
.left ul .add102 a {
    color: #fff
}
.left ul .tom:hover {
    background: #41AEE1
}
.left ul .tom a:hover {
    color: #fff
}
.left .jon {
    margin-left: -41px
}
.right {
    width: 100%;
    height: 790px;/* float:right; *//* margin-top:-792px; */
    border: 1px solid #DBDBDB;
}
.right .homell {
    width: 100%;
    line-height: 25px;
    height: 29px;
    border-bottom: 2px solid #DBDBDB
}
.right .homell span {
    
    width: 100px;
    height: 25px;
    color: #fff;
    background: #41AEE1;
    text-align: center;
    margin: 4px;
    position: relative;
    top: 5px
}
.right .p select {
    width: 40%;
    height: 30px;
    color: gray;
    margin-left: 15px;
    border-radius: 5px
}
.leave {
    width: 30%;
    height: 33px;
    border: 1px solid;
    line-height: 25px;
    margin: 15px
}
.leave input {
    width: 60%;
    height: 30px;
    border: 1px solid #BBB;
    margin-left: 63px;
    border-radius: 5px;
    padding: 0 5px
}
.ask {
    width: 30%;
    height: 30px;
    border: 1px solid;
    line-height: 25px;
    margin: 15px
}
.ask input {
    width: 60%;
    height: 26px;
    border: 1px solid #BBB;
    border-radius: 5px;
    padding: 0 5px;
    margin: 0 15px
}
a {
    text-decoration: none
}
span.x_right {
    margin-left: 20px;
    line-height: 20px;
    font-size: 14px;
    text-align: center
}
input.x_bt {
    height: 30px;
    width: 143px
}
input.xdata_bt {
    height: 30px;
    width: 90px
}
button.serch_btn {
    width: 80px;
    height: 25px;
    line-height: 20px;
    border-radius: 5px;
    color: #fff;
    background-color: rgba(65,174,225,1);
    text-align: center;
    border: 1px solid rgba(255,255,255,0);
    margin-left: 26px
}
.right_top {
    height: 6%
}
.qj_from {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    color: #000
}
td {
    text-align: center;
    height: 23px;
    overflow:hidden;
    max-width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.tr_top1 {
    border-bottom: 2px solid #6E6E6E
}
.tr_oh {
    height: 40px;
    border-bottom: 2px solid #C4C4C4
}
.f_back {
    color: red
}
