@charset "utf-8";
/* CSS Document */
/*导航栏*/
.am-cf{
    margin-top: 1rem; display: inline-block;
}
.pagination a {
    text-decoration: none;
}
.pagination .pxofy {
    float: left;
    margin-left: 5px;
    height: 25px;
*padding-top:1px;
}
.pagination a, .pagination span {
    display: block;
    float: left;
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    font-family: Arial, Helvetica, sans-serif !important;
}
.pagination .current {
    cursor: default;
    border: solid 1px;
}
.pagination .prev, .pagination .next {/*line-height:22px;*/
}
.pagination a, .pagination span {
    color: #999;
    border: 1px solid #dddddd;
    border-left: none;
}
.pagination .current {
    color: #fff;
    background: #173571;
    border: 1px solid #173571;
}
.pagination .current.prev, .pagination .current.next {
    color: #B9B9B9;
    border-color: #D3D3D3;
    background: #fff;
}
.pagination .prev {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.pagination .next {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.pagination a:first-child {
    border-left: 1px solid #ddd;
}
.pagination .pxofy {
    color: #023054;
}